.searchBar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.searchBar input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchBar button {
  padding: 10px 15px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.searchBar button:hover {
  background-color: #17a74a;
}

  